<div class="item nk-fgp-items nk-new-layout-product-grid">
    <a class="nk-link-product" href="{{href}}">
        <div class="item-list">
            <div class="nk-product-img">
                <img style="width: 100%!important;" alt="{{data.name}}"
                     src="/assets/images/products/{{data.dtbProductImageList.edges[0].node.fileName}}"
                     title="{{data.name}}">
            </div>
            <div class="nk-product-desc">
                <p class="label margbt10"><label
                >{{data.name}}</label></p>
                <div class="price-details">
                    <!--                    <p class="price-old">-->
                    <!--                        <span>26.990.000đ</span></p>-->
                    <div class="price-now price-now-default">
                        <p class="price-new"><span>{{data.dtbProductClassList.edges[0].node.price02}} VND</span></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
