<div class="row-fluid ">
    <div class="span16 nk-menu bg-white clearfix">
        <div class="row-fluid ">
            <div class="span16 container">
                <div class="row-fluid ">
                    <div class="span16 row">
                        <div class="row-fluid ">
                            <div class="span4 wrap-grid-menu">
                                <div id="nk-danh-muc-san-pham-left" class="nk-danh-muc-trang-chu"><h3>
                                    <i><span></span><span></span><span></span></i><b>Danh mục sản phẩm</b></h3>
                                    <ul id="nk-danh-muc-san-pham-left-ul" class="shadow">
                                        <li *ngFor="let menuGroup of menuData">
                                            <div class="menu-item">
                                                <div class="icon"><i class="nki-menu-{{menuGroup.node.groupName}}"></i></div>
                                                <p>
                                                    <a *ngFor="let item of menuGroup.node.groupItems.edges"
                                                       href="/danh-sach/{{getLink(item.node.categoryName, item.node.id)}}/1">{{(item.node.categoryName)}}</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

