<div class="tygh-footer clearfix" id="tygh_footer">
    <div class="container-fluid ">

        <div class="row-fluid ">
            <div class="span16 nk-service">
                <div class="row-fluid ">
                    <div class="span16 container">
                        <div
                                class=" row flexthis bg-white border-bg">
                            <ul>
                                <li><span

                                        class="js_hidden_link"
                                        rel="nofollow">
                                    <i class="nk-sprite-desktop icon-lapdat_footer"></i><h3

                                >Lắp đặt chuyên nghiệp</h3><p
                                >Đội ngũ lắp đặt, tư vấn kỹ thuật<br
                                >giàu kinh nghiệm</p></span>
                                </li>
                                <li><span
                                        class="js_hidden_link"
                                        rel="nofollow"><i
                                        class="nk-sprite-desktop icon-giaohang_footer"></i><h3
                                >Giao nhận tiện lợi</h3><p
                                >Giao nhận trong ngày <br
                                >nhanh chóng, an toàn</p></span>
                                </li>
                                <li><span
                                        class="js_hidden_link"
                                        rel="nofollow"><i
                                        class="nk-sprite-desktop icon-thanhtoan_footer"></i><h3
                                >Thanh toán linh hoạt</h3><p
                                >Phương thức thanh toán <br
                                >đa dạng, tiện lợi</p></span>
                                </li>
                                <li><span
                                        class="js_hidden_link"
                                        rel="nofollow"><i
                                        class="nk-sprite-desktop icon-doitra_footer"></i><h3

                                >Đổi trả dễ dàng</h3><p

                                >Đổi sản phẩm bị lỗi kỹ thuật <br
                                >trong 30 ngày</p></span>
                                </li>
                                <li><span
                                        class="js_hidden_link"
                                        rel="nofollow"><i
                                        class="nk-sprite-desktop icon-haumai_footer"></i><h3

                                >Hậu mãi chu đáo</h3><p

                                >Tận tình chăm sóc khách hàng <br
                                >suốt dòng đời sản phẩm</p></span>
                                </li>
                            </ul>
                            <hr class="foot-line">
                            <div class="nk-footer-copyright-wrap">
                                <div id="nk-footer-copyright-l">
                                    <div><h1><span>VIETTUANTRINH.VN - CUNG CẤP ĐỒ ĐIỆN LẠNH GIA DỤNG</span></h1><span>Copyright @ 1999 - 2017 Điện thoại: - Email: chamsoc@viettuantrinh.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>