<div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="tygh-footer clearfix" id="tygh_footer">
    <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="container-fluid ">
        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="row-fluid ">
            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="span16 nk-brand margbt10">
                <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="row-fluid ">
                    <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="span16 container">
                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                             class=" row bg-white flexthis border-bg"><h2 _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="">Các thương hiệu lớn</h2>
                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                 class="owl-carousel nk-big-brand owl-loaded owl-drag">
                                <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                     class="owl-stage-outer">
                                    <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                         class="owl-stage"
                                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1538px;">
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item active" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L3NhbXN1bmc="
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-samsung"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item active" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L3Nvbnk="
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-sony"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item active" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L2xn"
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-lg"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item active" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L3Rvc2hpYmE="
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-toshiba"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item active" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L2RhaWtpbg=="
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-daikin"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item active" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L2FwcGxl"
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-apple"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item active" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L3BhbmFzb25pYw=="
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-panasonic"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item active" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L2Nhbm9u"
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-canon"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L2FxdWE="
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-aqua"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L2hpdGFjaGk="
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-hitachi"></i></span>
                                            </div>
                                        </div>
                                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                             class="owl-item" style="width: 119.77px; margin-right: 20px;">
                                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                 class="brand-item"><span _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                                                          _ngcontent-yaa-c2="" class="js_hidden_link"
                                                                          data-url="L3RodW9uZy1oaWV1L2VsZWN0cm9sdXg="
                                                                          rel="nofollow"><i _ngcontent-lij-c2=""
                                                                                            _ngcontent-spf-c2=""
                                                                                            _ngcontent-yaa-c2=""
                                                                                            class="nk-sprite-desktop icon-brand-electrolux"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="row-fluid ">
            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="span16 nk-service">
                <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="row-fluid ">
                    <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="span16 container">
                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                             class=" row flexthis bg-white border-bg">
                            <ul _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">
                                <li _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""><span
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                        class="js_hidden_link"
                                        data-url="L2RpY2gtdnUtbGFwLWRhdC12YS1iYW5nLWdpYS12YXQtdHUtbGFwLWRhdC5odG1sP3Bvc2l0aW9uPWljb25sYXBkYXQ="
                                        rel="nofollow"
                                        title="Dịch vụ lắp đặt và bảng giá vật tư lắp đặt tại Siêu thị điện máy Nguyễn Kim"><i
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                        class="nk-sprite-desktop icon-lapdat_footer"></i><h3 _ngcontent-lij-c2=""
                                                                                             _ngcontent-spf-c2=""
                                                                                             _ngcontent-yaa-c2="">Lắp đặt chuyên nghiệp</h3><p
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">Đội ngũ lắp đặt, tư vấn kỹ thuật<br
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">giàu kinh nghiệm</p></span>
                                </li>
                                <li _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""><span
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                        class="js_hidden_link"
                                        data-url="L2todS12dWMtcGh1LXNvbmctZ2lhby1uaGFuLmh0bWw/cG9zaXRpb249aWNvbmdpYW9oYW5n"
                                        rel="nofollow"><i _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                          class="nk-sprite-desktop icon-giaohang_footer"></i><h3
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">Giao nhận tiện lợi</h3><p
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">Giao nhận trong ngày <br
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">nhanh chóng, an toàn</p></span>
                                </li>
                                <li _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""><span
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                        class="js_hidden_link"
                                        data-url="L2h1b25nLWRhbi10aGFuaC10b2FuLmh0bWw/cG9zaXRpb249aWNvbnRoYW5odG9hbg=="
                                        rel="nofollow"><i _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                          class="nk-sprite-desktop icon-thanhtoan_footer"></i><h3
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">Thanh toán linh hoạt</h3><p
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">Phương thức thanh toán <br
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">đa dạng, tiện lợi</p></span>
                                </li>
                                <li _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""><span
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                        class="js_hidden_link"
                                        data-url="L3F1eS1kaW5oLWRvaS10cmEtc2FuLXBoYW0uaHRtbD9wb3NpdGlvbj1pY29uZG9pdHJh"
                                        rel="nofollow"><i _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                          class="nk-sprite-desktop icon-doitra_footer"></i><h3
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                        _ngcontent-yaa-c2="">Đổi trả dễ dàng</h3><p _ngcontent-lij-c2=""
                                                                                    _ngcontent-spf-c2=""
                                                                                    _ngcontent-yaa-c2="">Đổi sản phẩm bị lỗi kỹ thuật <br
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">trong 30 ngày</p></span>
                                </li>
                                <li _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""><span
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                        class="js_hidden_link"
                                        data-url="L3RpZXUtY2hpLWJhbi1oYW5nLmh0bWw/cG9zaXRpb249aWNvbmhhdW1haQ=="
                                        rel="nofollow"><i _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                                          class="nk-sprite-desktop icon-haumai_footer"></i><h3
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2=""
                                        _ngcontent-yaa-c2="">Hậu mãi chu đáo</h3><p _ngcontent-lij-c2=""
                                                                                    _ngcontent-spf-c2=""
                                                                                    _ngcontent-yaa-c2="">Tận tình chăm sóc khách hàng <br
                                        _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">suốt dòng đời sản phẩm</p></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="row-fluid ">
            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="span16 nk-footer-copyright">
                <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="row-fluid ">
                    <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="span16 container">
                        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" id="nk-footer-copyright-l">
                            <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""><h1 _ngcontent-lij-c2=""
                                                                                                    _ngcontent-spf-c2=""
                                                                                                    _ngcontent-yaa-c2="">
                                <span _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">VIETTUANTRINH.VN - CUNG CẤP ĐỒ ĐIỆN LẠNH GIA DỤNG</span>
                            </h1><span _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="">Copyright @ 1999 - 2017 Điện thoại: - Email: chamsoc@viettuantrinh.com</span>
                            </div>
                        </div>
                        <a _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="scrollup"><i
                                _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2=""
                                class="nki-long-arow-left-rounded"></i></a></div>
                </div>
            </div>
        </div>
        <div _ngcontent-lij-c2="" _ngcontent-spf-c2="" _ngcontent-yaa-c2="" class="row-fluid "></div>
    </div>
</div>