<div class="item" id="86443"
     style="overflow: hidden;">
    <a href="https://www.nguyenkim.com/samsung-galaxy-note-10-plus-den.html">
        <div class="item-list">
            <div class="nk-product-img margbt20">
                <img alt="{{data.node.productItem.name}}"
                     src="/assets/images/products/{{data.node.productItem.dtbProductImageList.edges[0].node.fileName}}"
                     title="{{data.node.productItem.name}}">
            </div>
            <div class="nk-product-desc"><p
                    style="height: 30px"></p>
                <p class="title margbt10">Samsung</p>
                <p class="label margbt10"><label
                >{{data.node.productItem.name}}</label></p>
                <div class="price-details">
                    <div class="price-now price-now-default">
                        <p class="price-new"><span>25.990.000đ</span></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>