<div class="row hide_recomment">
    <div class="main-bg border-bg">
        <div class="nk-head nk-home section-news-top" style="">

            <h2 class="new-title">{{data.name}}</h2></div>
        <div class="nk-content nk-home nk-recomme nt">
            <div class="owl-carousel owl-theme nk-product owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item" *ngFor="let item of data.dtbProductTagList.edges">
                            <app-products-item [data]="item"></app-products-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>