<div _ngcontent-qqd-c3="" class="tygh-content clearfix">
    <div _ngcontent-qqd-c3="" class="container-fluid none-bacground">
        <div _ngcontent-qqd-c3="" class="row-fluid ">
            <div _ngcontent-qqd-c3="" class="span16 bg-white"></div>
        </div>
        <div _ngcontent-qqd-c3="" class="row-fluid ">
            <div _ngcontent-qqd-c3="" class="span16 container banner_home__">
                <div _ngcontent-qqd-c3="" class="row-fluid ">
                    <div _ngcontent-qqd-c3="" class="span16 row">
                        <div _ngcontent-qqd-c3="" id="nk-banner-home">
                            <div _ngcontent-qqd-c3="" class="nk-banner-main owl-carousel owl-loaded owl-drag"
                                 id="sync1">
                                <div _ngcontent-qqd-c3="" class="owl-stage-outer">
                                    <div _ngcontent-qqd-c3="" class="owl-stage">
                                        <div _ngcontent-qqd-c3="" class="owl-item cloned" style="width: 936px;">
                                            <div _ngcontent-qqd-c3="" class="item " data-banner-item="6"><a
                                                    _ngcontent-qqd-c3=""
                                                    href="https://www.nguyenkim.com/mua-note-10-tang-galaxy-fit.html"
                                                    rel="nofollow"><img _ngcontent-qqd-c3=""
                                                                        alt="Mua Note 10|S10+ tặng ngay Galaxy Fit"
                                                                        class="lazyload "
                                                                        data-src="https://cdn.nguyenkimmall.com/images/companies/_1/MKT_ECM/1019/new_banner/note10-1008.jpg"
                                                                        src="https://cdn.nguyenkimmall.com/images/companies/_1/MKT_ECM/1019/new_banner/note10-1008.jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div _ngcontent-qqd-c3="" class="owl-nav">
                                    <button _ngcontent-qqd-c3="" class="owl-prev" role="presentation" type="button"><i
                                            _ngcontent-qqd-c3="" aria-hidden="true" class="nki-arow-rounded-back"></i>
                                    </button>
                                    <button _ngcontent-qqd-c3="" class="owl-next" role="presentation" type="button"><i
                                            _ngcontent-qqd-c3="" aria-hidden="true" class="nki-arow-rounded-next"></i>
                                    </button>
                                </div>
                                <div _ngcontent-qqd-c3="" class="owl-dots">
                                    <div _ngcontent-qqd-c3="" class="owl-dot"><span _ngcontent-qqd-c3=""></span></div>
                                    <div _ngcontent-qqd-c3="" class="owl-dot active"><span _ngcontent-qqd-c3=""></span>
                                    </div>
                                    <div _ngcontent-qqd-c3="" class="owl-dot"><span _ngcontent-qqd-c3=""></span></div>
                                    <div _ngcontent-qqd-c3="" class="owl-dot"><span _ngcontent-qqd-c3=""></span></div>
                                    <div _ngcontent-qqd-c3="" class="owl-dot"><span _ngcontent-qqd-c3=""></span></div>
                                    <div _ngcontent-qqd-c3="" class="owl-dot"><span _ngcontent-qqd-c3=""></span></div>
                                    <div _ngcontent-qqd-c3="" class="owl-dot"><span _ngcontent-qqd-c3=""></span></div>
                                    <div _ngcontent-qqd-c3="" class="owl-dot"><span _ngcontent-qqd-c3=""></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div _ngcontent-qqd-c3="" class="row-fluid ">
            <div _ngcontent-qqd-c3="" class="span16 nk-product-collection nk-product-special margbt10">
                <div _ngcontent-qqd-c3="" class=" container">
                    <div _ngcontent-qqd-c3="" class="row hide_recomment">
                        <div _ngcontent-qqd-c3="" class="main-bg border-bg" style="border: none; height: 440px; ">
                            <div _ngcontent-qqd-c3="" class="nk-head nk-home" style=""><i _ngcontent-qqd-c3=""
                                                                                          class="nki-Danhrieng"></i>
                                <h3 _ngcontent-qqd-c3="">Sản phẩm bán chạy</h3></div>
                            <div _ngcontent-qqd-c3="" class="nk-content nk-home nk-recomment" style="">
                                <div _ngcontent-qqd-c3="" class="owl-carousel owl-theme nk-product owl-loaded owl-drag">
                                    <div _ngcontent-qqd-c3="" class="owl-stage-outer">
                                        <div _ngcontent-qqd-c3="" class="owl-stage"
                                             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2420px;">
                                            <div _ngcontent-qqd-c3="" class="owl-item active"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="86443"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/samsung-galaxy-note-10-plus-den.html"
                                                                                  onclick="gravity_rec_click('86443')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010042953-BO" type="hidden"
                                                                value="86443"><img _ngcontent-qqd-c3=""
                                                                                   alt="Điện thoại Samsung Galaxy Note 10+ đen"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/604/10042953_DTDD_SAMSUNG_SM-N975F-DEN_01.jpg"
                                                                                   style=""
                                                                                   title="Điện thoại Samsung Galaxy Note 10+ đen">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Samsung</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">Điện thoại Samsung Galaxy Note
                                                                10+ đen</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">26.990.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">25.990.000đ</span></p>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">Tặng Samsung
                                                                Galaxy Fit R370</p></div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 4.331.667/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item active"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="86571"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/samsung-galaxy-note-10-plus-trang.html"
                                                                                  onclick="gravity_rec_click('86571')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010043015-BO" type="hidden"
                                                                value="86571"><img _ngcontent-qqd-c3=""
                                                                                   alt="Điện thoại Samsung Galaxy Note 10+ trắng"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/605/10043015_DTDD_SAMSUNG_SM-N975F-TRANG_01.jpg"
                                                                                   style=""
                                                                                   title="Điện thoại Samsung Galaxy Note 10+ trắng">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Samsung</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">Điện thoại Samsung Galaxy Note
                                                                10+ trắng</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">26.990.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">25.990.000đ</span></p>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">Tặng Samsung
                                                                Galaxy Fit R370</p></div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 4.331.667/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item active"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="83975"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/tu-lanh-samsung-680-lit-sbs-rs62r5001m9.html"
                                                                                  onclick="gravity_rec_click('83975')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010042058-BO" type="hidden"
                                                                value="83975"><img _ngcontent-qqd-c3=""
                                                                                   alt="TỦ LẠNH SAMSUNG 680 LÍT SBS RS62R5001M9"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/591/10042058_TU-LANH_SAMSUNG_680-LIT_SBS-RS62R5001M9_1.jpg"
                                                                                   style=""
                                                                                   title="TỦ LẠNH SAMSUNG 680 LÍT SBS RS62R5001M9">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Samsung</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">TỦ LẠNH SAMSUNG 680 LÍT SBS
                                                                RS62R5001M9</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">23.900.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">20.900.000đ</span></p><span
                                                                        _ngcontent-qqd-c3=""
                                                                        class="nk-product-discount-percent">-13%</span>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">PMH trừ tiền&nbsp;500.000đ</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 3.483.333/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item active"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="82578"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/tu-lanh-samsung-680-lit-sbs-rs62r5001b4.html"
                                                                                  onclick="gravity_rec_click('82578')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010042057-BO" type="hidden"
                                                                value="82578"><img _ngcontent-qqd-c3=""
                                                                                   alt="TỦ LẠNH SAMSUNG 680 LÍT SBS RS62R5001B4"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/591/10042057_TULANH_SAMSUNG_SBS-RS62R5001B4_01.jpg"
                                                                                   style=""
                                                                                   title="TỦ LẠNH SAMSUNG 680 LÍT SBS RS62R5001B4">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Samsung</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">TỦ LẠNH SAMSUNG 680 LÍT SBS
                                                                RS62R5001B4</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">25.900.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">22.900.000đ</span></p><span
                                                                        _ngcontent-qqd-c3=""
                                                                        class="nk-product-discount-percent">-12%</span>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">PMH trừ tiền&nbsp;500.000đ</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 3.816.667/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item active"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="64285"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/tu-lanh-sbs-samsung-inverter-620-lit-rs58k6417sl-sv.html"
                                                                                  onclick="gravity_rec_click('64285')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010035738-BO" type="hidden"
                                                                value="64285"><img _ngcontent-qqd-c3=""
                                                                                   alt="TỦ LẠNH SBS SAMSUNG INVERTER 620 LÍT RS58K6417SL/SV"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/511/RS58K6417SL-SV-01.jpg"
                                                                                   style=""
                                                                                   title="TỦ LẠNH SBS SAMSUNG INVERTER 620 LÍT RS58K6417SL/SV">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Samsung</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">TỦ LẠNH SBS SAMSUNG INVERTER
                                                                620 LÍT RS58K6417SL/SV</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">39.900.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">28.900.000đ</span></p><span
                                                                        _ngcontent-qqd-c3=""
                                                                        class="nk-product-discount-percent">-28%</span>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">Mua Online giảm
                                                                2.000K</p></div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 4.816.667/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="86660"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/samsung-galaxy-note-10-bac.html"
                                                                                  onclick="gravity_rec_click('86660')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010043031-BO" type="hidden"
                                                                value="86660"><img _ngcontent-qqd-c3=""
                                                                                   alt="Điện thoại Samsung Galaxy Note 10 bạc"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/605/10043031_DTDD_SAMSUNG_SM-N970F-256GB-BAC_01.jpg"
                                                                                   style=""
                                                                                   title="Điện thoại Samsung Galaxy Note 10 bạc">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Samsung</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">Điện thoại Samsung Galaxy Note
                                                                10 bạc</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">22.990.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">21.990.000đ</span></p>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">Tặng Samsung
                                                                Galaxy Fit R370</p></div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 3.665.000/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="86654"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/samsung-galaxy-note-10-hong.html"
                                                                                  onclick="gravity_rec_click('86654')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010043029-BO" type="hidden"
                                                                value="86654"><img _ngcontent-qqd-c3=""
                                                                                   alt="Điện thoại Samsung Galaxy Note 10 hồng"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/605/10043029_DTDD_SAMSUNG_SM-N970F-256GB-HONG_01.jpg"
                                                                                   style=""
                                                                                   title="Điện thoại Samsung Galaxy Note 10 hồng">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Samsung</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">Điện thoại Samsung Galaxy Note
                                                                10 hồng</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">22.990.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">21.990.000đ</span></p>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">Tặng Samsung
                                                                Galaxy Fit R370</p></div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 3.665.000/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="58847"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/tu-lanh-electrolux-ese5301ag-vn.html"
                                                                                  onclick="gravity_rec_click('58847')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010033570-CAI" type="hidden"
                                                                value="58847"><img _ngcontent-qqd-c3=""
                                                                                   alt="TỦ LẠNH ELECTROLUX 541 LÍT ESE5301AG"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/276/10033570-TỦ-LẠNH-ELECTROLUX-541-LÍT-ESE5301AG-01.jpg"
                                                                                   style=""
                                                                                   title="TỦ LẠNH ELECTROLUX 541 LÍT ESE5301AG">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">
                                                                Electrolux</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">TỦ LẠNH ELECTROLUX 541 LÍT
                                                                ESE5301AG</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">20.790.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">17.900.000đ</span></p><span
                                                                        _ngcontent-qqd-c3=""
                                                                        class="nk-product-discount-percent">-14%</span>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">Ưu đãi từ đối tác
                                                                Ngân hàng</p></div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 2.983.333/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="64790"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/tu-lanh-sharp-626-lit-sj-fx631v-sl.html"
                                                                                  onclick="gravity_rec_click('64790')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010036263-CAI" type="hidden"
                                                                value="64790"><img _ngcontent-qqd-c3=""
                                                                                   alt="Tủ lạnh Sharp 626 LÍT SJ-FX631V-SL"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/515/10036263-1.jpg"
                                                                                   style=""
                                                                                   title="Tủ lạnh Sharp 626 LÍT SJ-FX631V-SL">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Sharp</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">Tủ lạnh Sharp 626 LÍT
                                                                SJ-FX631V-SL</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details"><p
                                                                    _ngcontent-qqd-c3="" class="price-old"><span
                                                                    _ngcontent-qqd-c3="">24.900.000đ</span></p>
                                                                <div _ngcontent-qqd-c3=""
                                                                     class="price-now price-now-default"><p
                                                                        _ngcontent-qqd-c3="" class="price-new"><span
                                                                        _ngcontent-qqd-c3="">17.990.000đ</span></p><span
                                                                        _ngcontent-qqd-c3=""
                                                                        class="nk-product-discount-percent">-28%</span>
                                                                </div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">Tặng&nbsp;Lò vi
                                                                sóng Sharp hoặc lò nướng điện Sharp</p></div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 2.998.333/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-qqd-c3="" class="owl-item"
                                                 style="width: 232px; margin-right: 10px;">
                                                <div _ngcontent-qqd-c3="" class="item" id="81251"
                                                     style="overflow: hidden;"><a _ngcontent-qqd-c3=""
                                                                                  href="https://www.nguyenkim.com/dien-thoai-samsung-galaxy-a50-vi.html"
                                                                                  onclick="gravity_rec_click('81251')">
                                                    <div _ngcontent-qqd-c3="" class="item-list">
                                                        <div _ngcontent-qqd-c3="" class="nk-product-img margbt20"><input
                                                                _ngcontent-qqd-c3="" class="product-id" data-product=""
                                                                data-productcode="000000000010041513-BO" type="hidden"
                                                                value="81251"><img _ngcontent-qqd-c3=""
                                                                                   alt="Điện thoại Samsung Galaxy A50 đen 64GB"
                                                                                   class="lazyload"
                                                                                   src="https://cdn.nguyenkimmall.com/images/thumbnails/250/250/detailed/580/10041513_DTDD_SAMSUNG_GALAXY-SM-A505F-DS-64GB-DEN_01.jpg"
                                                                                   style=""
                                                                                   title="Điện thoại Samsung Galaxy A50 đen 64GB">
                                                        </div>
                                                        <div _ngcontent-qqd-c3="" class="nk-product-desc"><p
                                                                _ngcontent-qqd-c3="" style="height: 30px"></p>
                                                            <p _ngcontent-qqd-c3="" class="title margbt10">Samsung</p>
                                                            <p _ngcontent-qqd-c3="" class="label margbt10"><label
                                                                    _ngcontent-qqd-c3="">Điện thoại Samsung Galaxy A50
                                                                đen 64GB</label></p>
                                                            <div _ngcontent-qqd-c3="" class="price-details">
                                                                <div _ngcontent-qqd-c3="" class="price-now"><p
                                                                        _ngcontent-qqd-c3="" class="price">
                                                                    6.990.000đ</p></div>
                                                            </div>
                                                            <p _ngcontent-qqd-c3="" class="promotion">Ưu đãi từ đối tác
                                                                Ngân hàng</p></div>
                                                    </div>
                                                </a>
                                                    <div _ngcontent-qqd-c3="" class="tra-gop-0"><img
                                                            _ngcontent-qqd-c3="" alt="Trả góp 0% tại Nguyễn Kim"
                                                            class="lazyload"
                                                            src="https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/tra_gop.svg"
                                                            style="">
                                                        <div _ngcontent-qqd-c3="" class="pr-installment"><p
                                                                _ngcontent-qqd-c3="" class="installment">Trả góp qua
                                                            công ty tài chính hoặc thẻ tín dụng chỉ 1.165.000/6 tháng.
                                                            <a _ngcontent-qqd-c3="" class="xct"
                                                               href="/khuyen-mai-tra-gop-tai-nguyen-kim.html"> Xem chi
                                                                tiết</a></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>