<div class="tygh-content clearfix">
    <div class="container-fluid none-bacground">
        <div class="row-fluid ">
            <div class="span16 bg-white"></div>
        </div>
        <div class="row-fluid ">
            <div class="span16 container banner_home__">
                <div class="row-fluid ">
                    <div class="span16 row">
                        <div id="nk-banner-home">
                            <div class="nk-banner-main owl-carousel owl-loaded owl-drag"
                                 id="sync1">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage">
                                        <div class="cloned" style="width: 936px;">
                                            <div class="item " data-banner-item="6"><a

                                                    href="https://www.nguyenkim.com/mua-note-10-tang-galaxy-fit.html"
                                                    rel="nofollow"><img
                                                    alt="Mua Note 10|S10+ tặng ngay Galaxy Fit"
                                                    class="lazyload "
                                                    data-src="https://cdn.nguyenkimmall.com/images/companies/_1/MKT_ECM/1019/new_banner/note10-1008.jpg"
                                                    src="https://cdn.nguyenkimmall.com/images/companies/_1/MKT_ECM/1019/new_banner/note10-1008.jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid ">
            <div class="span16 nk-product-collection nk-product-special margbt10">
                <div class=" container">
                    <app-products-block [data]="homeDataSpMoi"></app-products-block>
                    <app-products-block [data]="homeDataSpBanChay"></app-products-block>
                </div>
            </div>
        </div>
    </div>
</div>