<div class="tygh-top-panel clearfix">
    <div class="container-fluid ">

        <div class="row-fluid ">
            <div class="span16 nk-header">
                <div class="row-fluid ">
                    <div class="span16 container _nk_main">
                        <div class="row-fluid ">
                            <div class="span16 row flexthis _nk_top">
                                <div class="row-fluid ">
                                    <div class="span4 col-md-3">
                                    </div>
                                    <div class="span12 col-md-9">
                                        <div id="nk-holine">
                                            <ul>
                                                <li>76-78-80 Triệu Nữ Vương - Đà Nẵng </li>
                                                <li>
                                                    <div class="icon"><i style="display: inline; margin-right: 5px" class="nki-place-time"></i> <a target="_blank" href="https://wego.here.com/directions/mix//C%C3%B4ng-ty-TNHH-TM-DV-Vi%E1%BB%87t-Tu%E1%BA%A5n-Trinh,-78-%C4%90%C6%B0%E1%BB%9Dng-Tri%E1%BB%87u-N%E1%BB%AF-V%C6%B0%C6%A1ng,-Qu%E1%BA%ADn-H%E1%BA%A3i-Ch%C3%A2u,-%C4%90%C3%A0-N%E1%BA%B5ng:e-eyJuYW1lIjoiQ1x1MDBmNG5nIHR5IFROSEggVE0gJiBEViBWaVx1MWVjN3QgVHVcdTFlYTVuIFRyaW5oIiwiYWRkcmVzcyI6Ijc2LTc4LTgwIFRyaWV1IE51IFZ1b25nLCBcdTAxMTBcdTAwZTAgTlx1MWViNW5nIiwibGF0aXR1ZGUiOjE2LjA2NDU1OTUxMjAxOSwibG9uZ2l0dWRlIjoxMDguMjE2MzczMTU0MDEsInByb3ZpZGVyTmFtZSI6ImZhY2Vib29rIiwicHJvdmlkZXJJZCI6MzYxMTQyNzgwNjE2OTA1fQ==?map=16.06456,108.21637,15,normal&fb_locale=vi_VN">Xem
                                                        đường đi</a></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid ">
                            <div class="span16 row flexthis _nk_bottom">
                                <div class="row-fluid ">
                                    <div class="span4 ">
                                        <div id="nk-logo"><a href="/">Vietuantrinh</a>
                                        </div>
                                    </div>
                                    <div class="span12 nk-nav-right">
                                        <div class="row-fluid ">
                                            <div class="span8 ">
                                                <div id="nk-search">
                                                    <form action="https://www.nguyenkim.com/tim-kiem.html"
                                                          name="search_form" method="get" class="cm-processed-form">
                                                        <input type="hidden" id="cid" name="cid" value="">
                                                        <div class="nk-search-danh-muc"><h3>Tất cả danh mục</h3>
                                                            <ul>
                                                                <li><a href="javascript:void(0)" data-cateid="0">Tất cả
                                                                    danh mục</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="338">Điện
                                                                    tử</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="339">Điện
                                                                    lạnh</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="340">Điện
                                                                    thoại - Máy tính bảng</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="341">Laptop
                                                                    - Vi tính</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="343">Máy
                                                                    ảnh - Quay phim</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="2894">Phụ
                                                                    kiện - Thiết bị số</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="2434">Thiết
                                                                    bị văn phòng</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="345">Nhà
                                                                    bếp</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="344">Gia
                                                                    dụng</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="347">Sức
                                                                    khỏe làm đẹp</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="1080">Công
                                                                    cụ - Dụng cụ</a></li>
                                                                <li><a href="javascript:void(0)" data-cateid="1168">Bách
                                                                    hóa</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="nk-search-box"><input type="text" name="q" value=""
                                                                                          id="search_input"
                                                                                          placeholder="Bạn cần tìm gì hôm nay ?"
                                                                                          autocomplete="off">
                                                            <button><i class="nki-search"></i></button>
                                                            <div class="nk-search-hint">
                                                                <div class="search-result" style="display: none;">
                                                                    <ul class="nk-search-cate">
                                                                        <li></li>
                                                                    </ul>
                                                                    <ul class="nk-search-product-item">
                                                                        <li></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="subcats" value="Y"><input
                                                                    type="hidden" name="pcode_from_q" value="Y"><input
                                                                    type="hidden" name="pshort" value="Y"><input
                                                                    type="hidden" name="pfull" value="Y"><input
                                                                    type="hidden" name="pname" value="Y"><input
                                                                    type="hidden" name="pkeywords" value="Y"><input
                                                                    type="hidden" name="search_performed" value="Y">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="span8 ">
                                                <div id="nk-cart">
                                                    <ul>
                                                        <li class="nk_tooltip ttms_header">
                                                            <p><span>Mở cửa:</span><span> 8:00 - 22:00</span>
                                                            </p>
                                                        </li>
                                                        <li class="nk_tooltip" data-toggle=".nk-hotline-content"
                                                            data-overlay="true">
                                                            <div class="icon"><i class="nki-phone"></i></div>
                                                            <p><span>0236 3823 195</span><span>Tư vấn khách hàng</span>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-menus></app-menus>
    </div>
</div>